/* nav */
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 4rem;
}
/* article */
article{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.align{
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: left;
}

h1{
    font-size: 4rem;
}
h2{
    text-align: center;
    text-align: left;
    font-size: 3rem;
}
/* buttons */
button, .correct{
    background-color: #351C75;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    font-size: 2rem;
    border: none;
    margin-top: 1rem;
    width: 24rem;
    text-align: left;
}
button:focus{
    background-color: #BD60EF;
}
.answer-outcome{
    border-top: 2px solid #A9A9A9;
    color: #A9A9A9;
    margin-top: 3rem;
    width: 24rem;

}
.high-score-form{
    display: flex;
    flex-direction: column;
}

.button-control{
    display: flex;
    flex-direction: row;
}
.button-control button{
    margin-left: 0rem;
    margin-right: 1rem;
}
textarea {
    background-color: #D9D3E9;
    border: none;
    font-size: 3rem;
    width: 50rem;
}
p{
    font-size: 2rem;
    width: 80%;
}
