/* nav */
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 4rem;
}
/* article */
article{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
h2{
    text-align: center;
    width: 22rem;
    text-align: left;
}
/* buttons */
button, .correct{
    background-color: #351C75;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    font-size: 2rem;
    border: none;
    margin-top: 1rem;
    width: 22rem;
    text-align: left;
}
button:focus{
    background-color: #BD60EF;
}
.answer-outcome{
    border-top: 2px solid #A9A9A9;
    color: #A9A9A9;
    margin-top: 3rem;
    width: 22rem;
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}